@import "./components/blog-section/blogSection.scss";
@import "./components/header/header.scss";

*,::after,::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html,body {
    height: 100%;
    font-family: "Libre Franklin", sans-serif ;
    color: #ffffff;
}

#root, .app {
    min-height: 100dvh;
}

p {
	font-size: 16px;
	font-family: "Libre Franklin", sans-serif;
	color: #b3b3b3;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a,a:hover,
a:focus{
	text-decoration: none ;
	outline: none;
	color: #fff;
}


ul,
ol {
	padding: 0;
	margin: 0;
    list-style: none;
}


/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	text-align: center;
	margin-bottom: 60px;
}

.section-title span {
	color: #e32879;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.section-title h2 {
	font-size: 45px;
	color: #ffffff;
	font-weight: 700;
	margin-top: 14px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.spad-2 {
	padding-top: 50px;
	padding-bottom: 70px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	font-size: 16px;
	color: #ffffff;
	background: #e32879;
	display: inline-block;
	font-weight: 700;
	padding: 12px 30px 10px;
}

.site-btn {
	font-size: 16px;
	color: #ffffff;
	font-weight: 700;
	padding: 10px 34px;
	display: inline-block;
	background: #e32879;
	border: 1px solid #e32879;
}

/* Contact and Comment  */

.comment-form input,
.contact-form input {
	height: 50px;
	width: 100%;
	border: none;
	font-size: 16px;
	color: #b3b3b3;
	padding-left: 20px;
	background: #393939;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-bottom: 30px;
}

.comment-form input::-webkit-input-placeholder,
.contact-form input::-webkit-input-placeholder {
	color: #b3b3b3;
}

.comment-form input::-moz-placeholder,
.contact-form input::-moz-placeholder {
	color: #b3b3b3;
}

.comment-form input:-ms-input-placeholder,
.contact-form input:-ms-input-placeholder {
	color: #b3b3b3;
}

.comment-form input::-ms-input-placeholder,
.contact-form input::-ms-input-placeholder {
	color: #b3b3b3;
}

.comment-form input::placeholder,
.contact-form input::placeholder {
	color: #b3b3b3;
}

.comment-form input:focus,
.contact-form input:focus {
	background: #ffffff;
	color: #0d0a27;
}

.comment-form input:focus::-webkit-input-placeholder,
.contact-form input:focus::-webkit-input-placeholder {
	color: #0d0a27;
}

.comment-form input:focus::-moz-placeholder,
.contact-form input:focus::-moz-placeholder {
	color: #0d0a27;
}

.comment-form input:focus:-ms-input-placeholder,
.contact-form input:focus:-ms-input-placeholder {
	color: #0d0a27;
}

.comment-form input:focus::-ms-input-placeholder,
.contact-form input:focus::-ms-input-placeholder {
	color: #0d0a27;
}

.comment-form input:focus::placeholder,
.contact-form input:focus::placeholder {
	color: #0d0a27;
}

.comment-form textarea,
.contact-form textarea {
	width: 100%;
	border: none;
	font-size: 16px;
	color: #b3b3b3;
	padding-left: 20px;
	background: #393939;
	height: 110px;
	padding-top: 12px;
	resize: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-bottom: 45px;
}

.comment-form textarea::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
	color: #b3b3b3;
}

.comment-form textarea::-moz-placeholder,
.contact-form textarea::-moz-placeholder {
	color: #b3b3b3;
}

.comment-form textarea:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder {
	color: #b3b3b3;
}

.comment-form textarea::-ms-input-placeholder,
.contact-form textarea::-ms-input-placeholder {
	color: #b3b3b3;
}

.comment-form textarea::placeholder,
.contact-form textarea::placeholder {
	color: #b3b3b3;
}

.comment-form textarea:focus,
.contact-form textarea:focus {
	background: #ffffff;
	color: #0d0a27;
}

.comment-form textarea:focus::-webkit-input-placeholder,
.contact-form textarea:focus::-webkit-input-placeholder {
	color: #0d0a27;
}

.comment-form textarea:focus::-moz-placeholder,
.contact-form textarea:focus::-moz-placeholder {
	color: #0d0a27;
}

.comment-form textarea:focus:-ms-input-placeholder,
.contact-form textarea:focus:-ms-input-placeholder {
	color: #0d0a27;
}

.comment-form textarea:focus::-ms-input-placeholder,
.contact-form textarea:focus::-ms-input-placeholder {
	color: #0d0a27;
}

.comment-form textarea:focus::placeholder,
.contact-form textarea:focus::placeholder {
	color: #0d0a27;
}






